{% extends 'base.html.twig' %}

{% block title %}La Passerelle - Enseigants{% endblock %}

{% block body %}
    <div class="mb-3">
		<a class="btn btn-primary" href="{{ path('app_teacher_new') }}">Ajouter un enseignant</a>
	</div>

    <div class="table-responsive mb-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Sexe</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.firstname }}</td>
                    <td>{{ teacher.lastname }}</td>
                    <td>{{ teacher.sexe }}</td>
                    <td>
                        <a href="{{ path('app_teacher_show', {'id': teacher.id}) }}"><span class="btn btn-info fa fa-eye"></span></a>
                        <a href="{{ path('app_teacher_edit', {'id': teacher.id}) }}"><span class="btn btn-warning fa fa-edit"></span></a>
                        <a href="{{ path('app_teacher_delete', {'id': teacher.id}) }}"><span class="btn btn-danger fa fa-trash"></span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
